{{/*
Template: adapter/adapter_test.go.tmpl
Description: Adapter test file
*/}}
package {{.Package}}_test

import(
	"context"
	"testing"

	"github.com/stretchr/testify/mock"
	"github.com/stretchr/testify/require"
)

{{if .Methods}}

func Test{{.AdapterName}}(t *testing.T){
	t.Skip("TODO: Configure mock with method {{(index .Methods 0).Name}} and run test")
}
{{else}}

func Test{{.AdapterName}}(t *testing.T) {
	t.Skip("Not implemented")
}
{{end}}