package external

import(
	"context"
	"fmt"
	"net/http"
)

type {{.ServiceName}} struct{
	client	*http.Client
	baseURL string
	apiKey	string
}

{{if .PortName}}
var _ {{.PortName}} = (*{{.ServiceName}})(nil)
{{end}}

func New{{.ServiceName}}(baseURL, apiKey string) *{{.ServiceName}}{
	return &{{.ServiceName}}{
		client:	&http.Client{},
		baseURL: baseURL,
		apiKey:	apiKey,
	}
}

{{if .Methods}}
{{$svcName := .ServiceName}}
{{range .Methods}}
func(s *{{$svcName}}){{.Name}}({{range $i, $p := .Params}}{{if $i}}, {{end}}{{$p.Name}} {{$p.Type}}{{end}})({{range $i, $r := .Returns}}{{if $i}}, {{end}}{{$r.Type}}{{end}}){
	return {{range $i, $r := .Returns}}{{if $i}}, {{end}}{{$r.Type | zeroVal}}{{end}}
}
{{end}}
{{else}}
func(s *{{.ServiceName}}) CallExternalAPI(ctx context.Context, params any)(any, error){
	return nil, fmt.Errorf("not implemented")
}
{{end}}