-- Migration: {{.MigrationName}}
-- Created: {{.Timestamp}}

-- TODO: Write your DOWN migration here
-- This should reverse the changes in the UP migration
-- Example:
-- DROP INDEX IF EXISTS idx_users_email;
-- DROP TABLE IF EXISTS users;

