{{/*
Template: service/service.go.tmpl
Description: Service/UseCase business logic implementation
*/}}
package {{.PackageName}}

{{- if .HasEntity}}

import (
	"context"
	"fmt"

	"github.com/google/uuid"
	{{.EntityImportAlias}} "{{.ModuleName}}/internal/core/domain/{{.EntityPackage}}"
)

type Create{{.EntityName}}Input struct{}

type Update{{.EntityName}}Input struct{
	ID string
}

type {{.ServiceName}}Service struct{
	repo {{.EntityImportAlias}}.{{.EntityName}}Repository
}

func New{{.ServiceName}}Service(repo {{.EntityImportAlias}}.{{.EntityName}}Repository) *{{.ServiceName}}Service{
	return &{{.ServiceName}}Service{repo: repo}
}

func (s *{{.ServiceName}}Service) Create(ctx context.Context, input Create{{.EntityName}}Input) (*{{.EntityImportAlias}}.{{.EntityName}}, error){
	entity, err := {{.EntityImportAlias}}.New{{.EntityName}}(uuid.NewString())
	if err != nil{
		return nil, fmt.Errorf("invalid {{.EntityName}}: %w", err)
	}
	if err := s.repo.Create(ctx, entity); err != nil{
		return nil, fmt.Errorf("creating {{.EntityName}}: %w", err)
	}
	return entity, nil
}

func (s *{{.ServiceName}}Service) GetByID(ctx context.Context, id string) (*{{.EntityImportAlias}}.{{.EntityName}}, error){
	return s.repo.FindByID(ctx, id)
}

func (s *{{.ServiceName}}Service) Update(ctx context.Context, input Update{{.EntityName}}Input) (*{{.EntityImportAlias}}.{{.EntityName}}, error){
	entity, err := s.repo.FindByID(ctx, input.ID)
	if err != nil{
		return nil, fmt.Errorf("finding {{.EntityName}}: %w", err)
	}
	if err := entity.Validate(); err != nil{
		return nil, fmt.Errorf("invalid {{.EntityName}}: %w", err)
	}
	if err := s.repo.Update(ctx, entity); err != nil{
		return nil, fmt.Errorf("updating {{.EntityName}}: %w", err)
	}
	return entity, nil
}

func (s *{{.ServiceName}}Service) List(ctx context.Context)([]*{{.EntityImportAlias}}.{{.EntityName}}, error){
	return s.repo.List(ctx)
}

{{- else}}

import(
	"context"
)

{{if .Methods}}
{{$portName := .PortName}}
{{$serviceName := .ServiceName}}

type {{$serviceName}} struct{}

func New{{$serviceName}}()*{{$serviceName}}{
	return &{{$serviceName}}{}
}

{{range .Methods}}
func(s *{{$serviceName}}){{.Name}}({{range $i, $p := .Params}}{{if $i}}, {{end}}{{$p.Name}} {{$p.Type}}{{end}})({{range $i, $r := .Returns}}{{if $i}}, {{end}}{{$r.Type}}{{end}}){
	// TODO: Implement {{.Name}} logic
	return {{range $i, $r := .Returns}}{{if $i}}, {{end}}{{$r.Type | zeroVal}}{{end}}
}
{{end}}
{{else}}

type {{.ServiceName}} struct{}

func New{{.ServiceName}}()*{{.ServiceName}}{
	return &{{.ServiceName}}{}
}

func(s *{{.ServiceName}}) Execute(ctx context.Context) error{
	return nil
}
{{end}}

{{- end}}